@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
   background: url(./pattern.jpg);
}

/* navbar */
header {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    margin-bottom: 8em;
}
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;

}
ul {
    list-style: none;
    padding-left: 0;
    
}
.navbar-li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: mediumblue;
    font-size: 1.2em;
}
nav a:hover {
    background: seagreen;
    color: black;
  }

/* isi */
section {
    margin: auto 10em;
    background-color: white;
}
h1 {
    text-align: center;
    margin-bottom: 2em;
    padding-top: 1em;
}

div p {
    border-bottom: 1px solid black;
}
div a {
    text-decoration: none;
}
p {
    padding-bottom: 1em;
}

/* Footer */
footer {
    background-color: black;
    height: 3em;
    color: white;
    text-align: center;
}
h5 {
    padding: 1em;
}